<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="title">The page you searched for, was not found.</h1>
            <h2>Error 404.</h2>
            <br>
            <h4>Please correct an mistakes in the url, if there are any, or just click the button bellow to go our home page.</h4>
            <br>
            <div class="divider"></div>
            <a [routerLink]="['/']" class="btn btn-info btn-lg">Take me home</a>
        </div>
    </div>
</div>
</div>