<form [formGroup]="form" (ngSubmit)="login()" class="auth-form">
    <label for="tb-username">Username</label>
    <br />
    <input type="text" id="tb-username" class="form-control" formControlName="username">
    <br />
    
    <label for="tb-password">Password</label>
    <br />
    <input type="password" id="tb-password" class="form-control" formControlName="password">
    <br />
    <button class="btn-reg-log btn-u btn-u-md btn-u-bg-default btn-u-upper">Login</button>
</form>
<simple-notifications [options]="options"></simple-notifications>