<div style="height: 180px"></div>
<div class="container-fluid create-piece-container main main-raised">
    <form [formGroup]="createThreadForm" (ngSubmit)="createThread()" class="">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error':!createThreadForm.controls['title'].valid && createThreadForm.controls['title'].touched}">
                    <label for="tb-title">Title</label>
                    <br />
                    <input type="text" id="tb-title" formControlName="title" class="form-control">
                    <br />
                    <div class="alert alert-danger" *ngIf="!createThreadForm.controls['title'].valid && createThreadForm.controls['title'].touched">
                        Title must be between 3 and 20 characters.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error':!createThreadForm.controls['title'].valid && createThreadForm.controls['title'].touched}">
                    <label for="tb-category">Category</label>
                    <br />
                    <select id="tb-category" formControlName="category" class="form-control">
                        <option value="UserSuggestions">User Suggestions</option>
                        <option value="Comment Authors">Comment Authors</option>
                        <option value="Lessons">Lessons</option>
                        <option value="Write a Book Review">Write a Book Review</option>
                        <option value="Fun">Fun</option>
                    </select>
                    <br />
                    <div class="alert alert-danger" *ngIf="!createThreadForm.controls['category'].valid && createThreadForm.controls['category'].touched">
                        Category is required.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!createThreadForm.controls['content'].valid && createThreadForm.controls['content'].touched}">
            <label for="tb-title">Thread Body</label>
            <br />
            <simple-tiny [elementId]="create-thread-editor" formControlName="content" ngDefaultControl [(ngModel)]="pieceBodyText" (ngModelChange)="onChange($event)"
                (onEditorKeyup)="keyupHandlerFunction($event)">
            </simple-tiny>
            <br />
            <div class="alert alert-danger" *ngIf="!createThreadForm.controls['content'].valid && createThreadForm.controls['content'].touched">
                Piece body must be between x and y characters.
            </div>
        </div>
        <button class="btn btn-success btn-round" type="submit">
		    <i class="material-icons">done</i> Post
		<div class="ripple-container"></div></button>
        <input type="hidden" value="{{username}}" formControlName="author" />
    </form>
    <simple-notifications [options]="options"></simple-notifications>
</div>