.library-holder {
    height: 500px;
    margin-top: 25px;
}

h2 {
    margin: 45px;
    text-align: center;
}

.pagination {
    position: absolute;
    left:620px;
    top:650px;
}

a {
    cursor: pointer;
    text-decoration: none
}