a {
    cursor: pointer;
    text-decoration: none
}
.left-span {
    margin-top: 30px;
    float: left;
}
.right-span {
    margin-top: 30px;
    float: right;
}
.card {
    padding: 5px;
    margin: 10px;
    text-align: center;
}