a {
    cursor: pointer;
    text-decoration: none
}
.left-span {
    margin-top: 30px;
    float: left;
}
.right-span {
    margin-top: 30px;
    float: right;
}
.card {
    padding: 5px;
    text-align: center;
}
img {
    width: 270px;
    height: 135px;
}