<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
</div>
<div class="main main-raised" id="details-content">
    <h2 id="piece-title">{{title}}</h2>
    <p id="piece-body" [innerHtml]="body"></p>
    <span id="piece-author">by <strong>{{author}}</strong></span>
    <div id="comments-holder">
        <span class="left">Comments: {{comments.length}}</span>
        <button *ngIf="isUserLoggedIn" type="submit" class="right btn btn-success btn-round"  (click)="toggleCommentSection()">
            <i class="material-icons">comment</i> Leave comment 
        </button>
        <form *ngIf="showCommentSection" id="create-comment-form" class="clearfix">
            <h3>Leave your comment here: </h3>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </form>
        <div *ngIf="isPieceCommented" id="comments-list" >
            <div *ngFor="let comment of comments" class="single-comment card">
                <p [innerHtml]="comment.body"></p>
                <span>by <strong>{{comment.author}}</strong></span>
            </div>
        </div>
    </div>
</div>