<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
</div>
<div class="main main-raised" id="details-content">
    <h2 id="piece-title">{{title}}</h2>
    <p id="piece-body" [innerHtml]="body"></p>
    <span id="piece-author">by <strong>{{author}}</strong></span>
    <div id="ratings-holder">
        <table id="ratings-table">
            <tbody>
                <tr>
                    <td>Story</td>
                    <td>Characters</td>
                    <td>Dialogue</td>
                    <td>Style</td>
                    <td>Feel</td>
                </tr>
                <tr>
                    <td>{{averageStory}}</td>
                    <td>{{averageCharacters}}</td>
                    <td>{{averageDialogue}}</td>
                    <td>{{averageStyle}}</td>
                    <td>{{averageFeel}}</td>
                </tr>
            </tbody>
        </table>
    </div>  
    <div id="comments-holder">
        <span class="left">Comments: {{comments.length}}</span>
        <button *ngIf="isUserLoggedIn" type="submit" class="right btn btn-success btn-round" (click)="toggleCommentSection()">
            <i class="material-icons">comment</i> Leave comment 
        </button>
        <form [formGroup]="commentForm" *ngIf="showCommentSection" id="create-comment-form" class="clearfix" (ngSubmit)="addComment()">
            <h3>Leave your comment here: </h3>
            <!--<simple-tiny [elementId]="'my-editor-id'" formControlName="commentBody" ngDefaultControl [(ngModel)]="commentBodyText" (ngModelChange)="onChange($event)"
                (onEditorKeyup)="keyupHandlerFunction($event)">
            </simple-tiny>-->
            <div class="form-group">
                <textarea id="comment-body" cols="90" rows="10" formControlName="commentBody" ngDefaultControl [(ngModel)]="commentBodyText" (ngModelChange)="onChangeCommentBodyText($event)" (onEditorKeyup)="keyupHandlerFunction($event)"></textarea>
            </div>
            <label>Story:</label>
            <select formControlName="storyRating" class="rating-selector form-control" (change)="onChangeStory($event.target.value)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label>Characters:</label>
            <select formControlName="charactersRating" class="rating-selector form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label>Dialogue:</label>
            <select formControlName="dialogueRating" class="rating-selector form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label>Style:</label>
            <select formControlName="styleRating" class="rating-selector form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label>Feel:</label>
            <select formControlName="feelRating" class="rating-selector form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <button class="btn btn-success btn-round" type="submit">
                <i class="material-icons">done</i> Create
                <div class="ripple-container"></div>
            </button>
        </form>
        <div *ngIf="isPieceCommented" id="comments-list" >
            <div *ngFor="let comment of comments" class="single-comment card">
                <p [innerHtml]="comment.content"></p>
                <span>by <strong>{{comment.author}}</strong></span>
            </div>
        </div>
    </div>
</div>