<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
</div>
<div class="main main-raised" id="details-content">
    <h2 id="piece-title">{{title}}</h2>
    <p id="piece-body" [innerHtml]="body"></p>
    <span id="piece-author">by <strong>{{author}}</strong></span>
    <div id="ratings-holder">
        <table id="ratings-table">
            <tbody>
                <tr>
                    <td>Story</td>
                    <td>Characters</td>
                    <td>Dialogue</td>
                    <td>Style</td>
                    <td>Feel</td>
                </tr>
                <tr>
                    <td>{{averageStory | formatRatingPipe}}</td>
                    <td>{{averageCharacters | formatRatingPipe}}</td>
                    <td>{{averageDialogue | formatRatingPipe}}</td>
                    <td>{{averageStyle | formatRatingPipe}}</td>
                    <td>{{averageFeel | formatRatingPipe}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="comments-holder">
        <span class="left">Comments: {{comments.length}}</span>
        <button *ngIf="canUserComment" type="submit" class="right btn btn-success btn-round" (click)="toggleCommentSection()">
            <i class="material-icons">comment</i> Leave comment 
        </button>
        <form [formGroup]="commentForm" *ngIf="showCommentSection" id="create-comment-form" class="clearfix" (ngSubmit)="addComment()">
            <h3>Leave your comment here: </h3>
            <simple-tiny [elementId]="detailed-piece-editor" formControlName="commentBody" ngDefaultControl [(ngModel)]="pieceBodyText"
                (ngModelChange)="onChange($event)" (onEditorKeyup)="keyupHandlerFunction($event)">
            </simple-tiny>
            <br>
            <label>Story:</label>
            <select formControlName="storyRating" [(ngModel)]="storyRating" class="rating-selector form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label>Characters:</label>
            <select formControlName="charactersRating" [(ngModel)]="charactersRating" class="rating-selector form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label>Dialogue:</label>
            <select formControlName="dialogueRating" [(ngModel)]="dialogueRating" class="rating-selector form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label>Style:</label>
            <select formControlName="styleRating" [(ngModel)]="styleRating" class="rating-selector form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label>Feel:</label>
            <select formControlName="feelRating" [(ngModel)]="feelRating" class="rating-selector form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <button class="btn btn-success btn-round" type="submit">
                <i class="material-icons">done</i> Create
                <div class="ripple-container"></div>
            </button>
        </form>
        <simple-notifications [options]="notificationOptions"></simple-notifications>
        <div *ngIf="isPieceCommented" id="comments-list">
            <div *ngFor="let comment of comments" class="single-comment card">
                <p [innerHtml]="comment.content"></p>
                <div class="comment-footer">
                    <span class="comment-author left">by {{comment.author}}</span>
                    <span class="average-rating right">Rating: {{comment.averageRating | formatRatingPipe}}</span>
                    <div class="buttons-holder right">
                        <button *ngIf=likeButtonVisible(comment) class="btn btn-success btn-round" (click)="likeComment($event)" commentId="'comment._id'">
                            Like
                        </button>
                        <span class="id-holder">{{comment._id}}</span>
                        <button *ngIf=dislikeButtonVisible(comment) class="btn btn-danger btn-round" (click)="dislikeComment($event)">
                            Dislike
                        </button>
                        <span class="id-holder">{{comment._id}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>