.header {
    width: 100%;
    height: 250px;
}

#details-content {
    padding: 3% 15%;
}

#piece-title {
    text-align: center;
}
#piece-body {
    margin: 20px 0px;
}

#piece-author {
    margin-bottom: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clearfix {
    clear: both;
}

#comments-holder {
    margin-top: 20px;
}

#comments-holder span {
    font-size: 18px;
}

.single-comment {
    margin: 10px 0px;
    padding: 10px;
}

#details-holder {
    margin-top: 20px;
}

#ratings-holder {
    margin: 35px;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px;
}

#ratings-table {
    display: inline-block;
    border-collapse: collapse;
    font-size: 26px;
    text-align: center;
}

.rating-selector {
    width: 60px;
    display: inline-block;
    border: 1px solid lightgrey;
}

.average-rating, .comment-author {
    margin: 10px;
}