<li class="dropdown">
    <a href="#" class="dropdown-toggle btn btn-primary btn-fab btn-fab-mini btn-round" data-toggle="dropdown">{{notificationsCount}}</a>
    <ul class="dropdown-menu">
        <li><a (click)="refresh($event)">Refresh</a></li>
        <li class="divider"></li>
        <li *ngFor="let notification of notifications" 
        [ngClass]="{'active':!notification.isRead}"
        (click)="readNotification(notification._id)">
            <a [routerLink]=" [ '/pieces/detailed/', notification.createdPieceId] ">
        {{notification.text}} | On: {{notification.sentOn | date:'short'}}
        </a>
        </li>
    </ul>
</li>