<div class="container-fluid main main-raised piece-preview-container">
    <h2 id="piece-title">{{title}}</h2>
    <p id="piece-body" [innerHtml]="body"></p>
    <span id="piece-author">by <strong>{{author}}</strong></span>
    <div id="comments-holder">
        <span class="left">Comments: {{comments.length}}</span>
        <button *ngIf=isUserLoggedIn type="submit" class="btn btn-xs btn-info right">Make comment</button>
        <a class="btn btn-warning btn-xs" [routerLink]="['/profile/works/edit', id]">Edit</a>
    </div>
</div>