<div class="card card-nav-tabs" id="user-container">
    <div class="header header-info">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <h1>{{user.username | uppercase}}</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="tab-content text-center">
            <img src="{{user.imageDataUrl}}" alt="{{user.username}}" id="user-avatar" class="img-circle img-responsive">
            <h4 class="text-info">{{user.firstname | uppercase}} {{user.lastname | uppercase}}</h4>

            <button class="btn btn-info btn-round" (click)="toggleAbout()">
			    <i class="material-icons">assignment</i> About
			    <div class="ripple-container"></div>
            </button>

            <div id="signatureContainer" *ngIf="isAboutVisible">
                <p>{{user.about}}</p>
            </div>

            <button class="btn btn-info btn-round" (click)="toggleSignature()">
			    <i class="material-icons">assignment</i> Signature
			    <div class="ripple-container"></div>
            </button>

            <div id="signatureContainer" *ngIf="isSignatureVisible">
                <p>{{user.signature}}</p>
            </div>
        </div>
    </div>
</div>