/*#search-result-container {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 83%;
}*/

.header {
    width: 100%;
    height: 500px;
}

.result-heading {
    text-align: center;
}

#result-users-container {
    overflow: auto;
}