<div class="writers-holder">
    <h2>THE BEST CRITIQUES</h2>
    <div [@slide] *ngFor="let user of users | writersSortPipe:'topCritiques' | paginationPipe:currentPage:pageSize" class="card">
        <img src="{{user.imageDataUrl}}">
        <div class="info-holder">
            <a class="username-link" routerLink="/user/{{user._id}}">{{user.username}}</a>
            <br>
            <span>Writer points: {{user.writerRating}}</span>
            <br>
            <span>Critiques rank: {{user.rank}}</span>
            <br>
            <span>Critiques rating: <span rating-color>{{user.critiqueRating}}</span></span>
        </div>
    </div>
    <ul class="pagination pagination-primary">
        <li *ngFor="let page of pages | toNumberPaginationArray">
            <a [ngClass]="{'active': 'currentPage' === 'page'}" (click)="currentPage=page">{{page}}</a>
        </li>
    </ul>
</div>