<div id="single-thread-container">
    <div class="card card-nav-tabs">
        <div class="header header-success">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <h3>{{thread.title}}</h3>
                </div>
            </div>
        </div>
        <div class="content" [innerHtml]="thread.content">
        </div>
        <div>
            <hr>
            <div class="thread-links">
                <a routerLink="/forum/threads/{{thread.category | normalizeCategory}}">{{thread.category}}</a>
                <a routerLink="/user/{{thread.author._id}}">{{thread.author.username}}</a>
            </div>
        </div>
        <div>
            <div class="main main-raised comments-container" *ngIf="thread.comments && thread.comments.length">
                <div *ngFor="let comment of thread.comments">
                    <div [innerHtml]="comment.content"></div>
                    <a routerLink="/user/{{comment.author._id}}">{{comment.author.username}}</a>
                    <hr>
                </div>
            </div>

            <div id="leave-comment-container" *ngIf="isUserLoggedIn">
                <textarea cols="120" rows="5" #textArea></textarea>
                <button (click)="leaveComment(textArea.value)" class="btn btn-success">Comment</button>
            </div>
        </div>
    </div>
</div>