#single-thread-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
}

#single-thread-container h3 {
    text-align: center;
}

#single-thread-container .username-link {
    color: white;
}

#single-thread-container .username-link:hover {
    text-decoration: none;
}

#single-thread-container hr {
    background-color: lightgray;
    width: 95%;
}

.thread-links {
    margin-left: 50px;
}

.thread-links a {
    margin-right: 20px;
}

#single-thread-container .comments-container {
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.comments-container hr {
    width: 95%;
    height: 2px;
    background-color: lightgray;
}