<div class="header header-filter" style="background-image: url('/assets/images/bg2.jpeg');"></div>
<div class="main main-raised" id="profile-content">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="profile">
                    <div class="avatar">
                        <img id="avatar-img" src="{{user.imageDataUrl}}" alt="{{user.username}}" class="img-circle img-responsive img-raised">
                    </div>
                    <div class="name">
                        <h3 class="title">{{user.username}}</h3>
                        <span><strong>Writer Points:</strong> {{user.writerRating}}</span>
                        <br>
                        <span><strong>Critique Rank:</strong> {{user.rank}}</span>
                        <br>
                        <span><strong>Critique Rating:</strong> {{user.critiqueRating}}</span>
                        <br>
                    </div>
                </div>
            </div>
            <nav id="profile-navigation">
                <a [routerLink]="['works']">
                    <img src="/assets/images/profile-images/works.png" alt="Works" class="profile-nav-btn-img">
                </a>
                <a [routerLink]="['additional-info']">
                    <img src="/assets/images/profile-images/additional-info.png" alt="Additional Information" class="profile-nav-btn-img">
                </a>
                <a [routerLink]="['friends']">
                    <img src="/assets/images/profile-images/friends.png" alt="Friends" class="profile-nav-btn-img">
                </a>
            </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>