#profile-navigation {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.profile-nav-btn-img {
    width: 50px;
    margin: 20px;
}

#avatar-img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

#profile-content {
    width: 90%;
    display: block;
    position: absolute;
    left: 2.8%;
    top: 400px;
}

.header {
    width: 100%;
    height: 500px;
}