<h1 style="text-align: center;">Welcome {{user.username}}</h1>
<img src="{{user.imageDataUrl}}" alt="{{user.username}}" id="avatar-img" class="img-circle img-responsive">
<nav id="profile-navigation">
    <a [routerLink]="['works']">
        <img src="/assets/images/profile-images/works.png" alt="Works" class="profile-nav-btn-img">
    </a>
    <a [routerLink]="['additional-info']">
        <img src="/assets/images/profile-images/additional-info.png" alt="Additional Information" class="profile-nav-btn-img">
    </a>
    <a [routerLink]="['friends']">
        <img src="/assets/images/profile-images/friends.png" alt="Friends" class="profile-nav-btn-img">
    </a>
</nav>
<router-outlet></router-outlet>