<section *ngIf="!isInEditMode" id="additional-info-container">
    <button (click)="toggleEditMode()" id="btn-edit">
        <i class="material-icons">border_color</i>
    </button>
    <h3>Name</h3>
    <p>{{user.firstname}} {{user.lastname}}</p>

    <h3>About</h3>
    <p>{{user.about}}</p>

    <h3>Signature</h3>
    <p>{{user.signature}}</p>
</section>

<section *ngIf="isInEditMode" id="additional-info-edit">
    <label for="input-avatar">Upload avatar</label>
    <input type="file" (change)="onFileUpload($event)" id="input-avatar" class="form-control">

    <form [formGroup]="form" (ngSubmit)="updateAdditionalInfo()">
        <label for="tb-about">About</label>
        <br />
        <input type="text" id="tb-about" formControlName="about" class="form-control" placeholder="Write something about yourself.">
        <br />

        <label for="tb-signature">Signature</label>
        <br />
        <input type="text" id="tb-signature" formControlName="signature" class="form-control" placeholder="It was a bright cold day in April, and the clocks were striking thirteen.">
        <br />

        <div id="form-btn-group">
            <button type="submit" class="btn btn-success">Save</button>
            <button (click)="toggleEditMode()" class="btn btn-info" type="button">Cancel</button>
        </div>
    </form>
</section>
<simple-notifications [options]="options"></simple-notifications>