<div class="parent">
    <img id="image1" [@animationState1]="animationState" src="/assets/images/animation-images/anim1.png" alt="">
    <img id="image2" [@animationState2]="animationState" src="/assets/images/animation-images/anim2.png" alt="">
    <img id="image3" [@animationState3]="animationState" src="/assets/images/animation-images/anim3.png" alt="">
    <img id="image4" [@animationState4]="animationState" src="/assets/images/animation-images/anim4.png" alt="">
    <img id="image5" [@animationState5]="animationState" src="/assets/images/animation-images/anim5.png" alt="">
</div>