img {
    width:160px;
    height: 40px;
    margin: 5px 0px;
    position: absolute;
}
.parent {
    position:relative;
}
#image1 {
  position: relative;
  top: 0px;
  left: 0px;
}
#image2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#image3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#image4 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#image5 {
  position: absolute;
  top: 0px;
  left: 0px;
}