<div class="main main-raised">
    <div class="section">
        <div class="container">
            <form [formGroup]="editPieceForm" (ngSubmit)="savePiece()" class="auth-form">
                <div class="form-group" [ngClass]="{'has-error':!editPieceForm.controls['title'].valid && editPieceForm.controls['title'].touched}">
                    <label for="tb-title">Title</label>
                    <br />
                    <input type="text" id="tb-title" formControlName="title" class="form-control" [(ngModel)]="title">
                    <br />
                    <div class="alert alert-danger" *ngIf="!editPieceForm.controls['title'].valid && editPieceForm.controls['title'].touched">
                        Title must be between 3 and 20 characters.
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!editPieceForm.controls['subtitle'].valid && editPieceForm.controls['title'].touched}">
                    <label for="tb-subtitle">Subtitle</label>
                    <br />
                    <input type="text" id="tb-subtitle" formControlName="subtitle" class="form-control" [(ngModel)]="subtitle">
                    <br />
                    <div class="alert alert-danger" *ngIf="!editPieceForm.controls['subtitle'].valid && editPieceForm.controls['subtitle'].touched">
                        Subtitle must be between 3 and 20 characters.
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!editPieceForm.controls['genre'].valid && editPieceForm.controls['title'].touched}">
                    <section>
                        <select id="tb-genre" formControlName="genre" [(ngModel)]="genre">
													<option value="0" selected>Choose genre</option>
													<option value="drama">Drama</option>
													<option value="poetry">Poetry</option>
													<option value="story">Story</option>
													<option value="telrikMyth">Telerik Myth</option>
												</select>
                    </section>
                    <div class="alert alert-danger" *ngIf="!editPieceForm.controls['genre'].valid && editPieceForm.controls['genre'].touched">
                        Genre is required.
                    </div>
                </div>
                <input type="hidden" value="{{username}}" formControlName="author" />
                <div class="form-group" [ngClass]="{'has-error':!editPieceForm.controls['pieceBody'].valid && editPieceForm.controls['pieceBody'].touched}">
                    <label for="tb-title">Piece Body</label>
                    <br />
                    <textarea formControlName="pieceBody" id="yourId" [tinyEditor] [selector]="'yourId'" [(ngModel)]="pieceBodyText" (ngModelChange)="onChange($event)"></textarea>
                    <br />
                    <div class="alert alert-danger" *ngIf="!editPieceForm.controls['pieceBody'].valid && editPieceForm.controls['pieceBody'].touched">
                        Piece body must be between x and y characters.
                    </div>
                </div>
                <button class=" btn-reg-log btn-u btn-u-md btn-u-bg-default btn-u-upper " type="submit">Save</button>
            </form>
            <simple-notifications [options]="options"></simple-notifications>
        </div>
    </div>
</div>